*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    background: linear-gradient(to left top, red, black);;
}
.mualan{
    img{
        height:340px;
    }
}
.logo{
    width: 300px;
    img{
        object-fit: cover;
        width: 100%;
    }
}
.wrap{
    padding-top:50px;
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items: center;
}
.button{
    padding: 10px 20px;
    border:1px solid c-blue;
    font-size:30px;
    border-radius:12px;
    background-color:red;
    color:yellow;
    font-weight:bold;
    text-decoration: none;
    border:2px solid
}
.color{
    color:red;
}